body{
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}
.form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.8);
    max-width: 700px;
    margin: 0 auto 30px auto;
}
input{
    padding: 10px 14px;
    border: 1,5px solid #dadada;
    border-radius: 10px;
    font-size: 15px;
    flex: 1;
    transition: 0.2s;
}
input:focus{
    outline: none;
    border-color: #4A90E2;
}
button{
    padding: 10px 18px;
    border: none;
    background-color: #4A90E2;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    max-width: 700px;
    margin: 0 auto;
}
#list {
    max-width: 700px;
    margin: 0 auto;
}

.book {
    background: white;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-title {
    font-size: 18px;
    font-weight: 600;
}

.book-price {
    font-size: 16px;
    color: #4A90E2;
    font-weight: 500;
}

.delete-btn {
    background: #ff4f4f;
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
